<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:jms="http://www.springframework.org/schema/jms"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
    xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
  		http://www.springframework.org/schema/beans/spring-beans.xsd
  		http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
     	http://www.springframework.org/schema/tx/spring-tx.xsd
     	http://www.springframework.org/schema/jms 
     	http://www.springframework.org/schema/jms/spring-jms.xsd
     	http://cxf.apache.org/jaxws
		http://cxf.apache.org/schemas/jaxws.xsd
		http://cxf.apache.org/jaxrs
    	http://cxf.apache.org/schemas/jaxrs.xsd">

	<context:annotation-config />
	<context:component-scan base-package="org.rency.common.messager" />
	
	<!-- mail -->
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">    
	    <property name="host" value="${email.host}" />    
	    <property name="port" value="${email.port}" /><!-- 25 --> 
	    <property name="username" value="${email.user}" />    
	    <property name="password" value="${email.passwd}" />
	    <property name="protocol" value="smtp" />
	    <property name="javaMailProperties">
	        <props>
	        	<prop key="mail.transport.protocol">smtp</prop>
	            <prop key="mail.smtp.auth">true</prop>
	            <prop key="mail.smtp.timeout">25000</prop>  
	        </props>    
	    </property>
	</bean>
	
	<bean id="mailService" class="org.rency.common.messager.mail.service.impl.MailServiceImpl">
		<property name="mailSender" ref="mailSender" />
	</bean>
	
</beans>